
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>
        <section layout:fragment="conteudo">

            <div class="card-form" style="background-image:linear-gradient(to right, gray, #D3D3D3);">

                <div class="col-e" style="border-right: 0px dashed gray;min-height: 100%;overflow: hidden;">

                    <div class="contato">
                        <div class="form-row">

                            <div style="text-align: left;font-size: 2rem;color: white;
                                 font-weight: 900;margin-bottom: 1%;margin-top: 2%;">
                                <span><b style="color: #DC143C;">Capacite-se </b> <b>para evoluir</b></span>
                            </div>

                            <div style="text-align: left;font-size: 2rem;color: black;font-weight: 900;height: auto; 
                                 background: #f8f8f8;padding: 4%;border-top-right-radius: 50px;border-bottom-left-radius: 50px;text-transform: uppercase;">
                                <h1>[[${curso.nome}]]</h1>
                            </div>

                            <div style="padding: 2%;font-size: 1rem;color: #FFD700;text-align: left;font-weight: bold;">
                                <span>MODALIDADE: [[${curso.modalidade}]]</span>
                            </div>


                            <div style="border: 0px solid black; height: 130px; width: 98%;padding: 1%;
                                 background: #f8f8f8;border-radius: 10px;">
                                <div <div style="border: 0px solid black; height: auto; width: 12%;float: left;margin-left: 1%;
                                     padding: 6%;font-weight: bold;">
                                    <p>POR R$</p>
                                </div>

                                <div <div style="border: 0px solid black; height: auto; width: 45%;float: left;margin-left: 1%;
                                     font-size: 3rem; line-height: 0cm;text-height: font-size;padding: 0%;color: #DC143C;">
                                    <h1> [[${curso.valor}]]</h1>  
                                </div>

                                <div <div style="border: 0px solid black; height: auto; width: 9%;float: left;
                                     margin-left: 1%;padding: 6%;font-weight: bold;">
                                    <p>/ MÊS</p>
                                </div>
                            </div>

                            <div style="padding: 2%;font-size: 1.6rem;color: #330867;text-align: left;font-weight: bold;">
                                <span>BOLETO, DÉBITO EM CONTA E CONTA DIGITAL</span>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-d">

                    <div class="contato">
                        <div class="form-row">
                            <form method="POST" th:object="${usuario}" 
                                  th:action="${usuario.novo} ? @{/usuarios/inscricao} : @{/usuarios/inscricao}">

                                <input type="hidden" th:field="*{id}"/>

                                <div class="form-row">
                                    <evolucao:message/>
                                </div>

                                <div class="form-row">
                                    <label for="nome" style="color: #330867;">Nome completo *</label>
                                    <input type="text" id="nome" th:field="*{nome}"
                                           evolucao:classforerror="nome"
                                           placeholder="Nome da pessoa" autofocus="autofocus" >
                                </div>


                                <div class="form-row">
                                    <div class="col-e">
                                        <label for="telefone" style="color: #330867;">Telefone (celular) *</label>
                                        <input type="text" class="form-control js-phone-number" id="telefone" th:field="*{telefone}"
                                               evolucao:classforerror="telefone"
                                               onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"
                                               placeholder="(99)99999-9999" autofocus="autofocus">
                                    </div>

                                    <div class="col-d">
                                        <label for="cpf" style="color: #330867;">Cpf *</label>
                                        <input type="text" class="form-control" id="cpf" th:field="*{cpf}" 
                                               evolucao:classforerror="cpf"
                                               onkeydown="javascript: fMasc(this, mCPF);" maxlength="14"
                                               placeholder="000.000.000-00">
                                    </div>

                                </div>

                                <div class="form-row">
                                    <label for="dataNascimento" style="color: #330867;">Data Nascimento *</label>
                                    <input type="date" class="form-control" id="dataNascimento" 
                                           th:value="*{dataNascimento}" th:field="*{dataNascimento}"
                                           evolucao:classforerror="dataNascimento"
                                           placeholder="Data Nascimento" autofocus="autofocus">
                                </div>

                                <div class="form-row">
                                    <label for="email" style="color: #330867;">Email *</label>
                                    <input type="text" class="form-control" id="email" th:field="*{email}"
                                           evolucao:classforerror="email"
                                           placeholder="Email da pessoa" autofocus="autofocus">
                                </div>

                                <div class="form-row">
                                    <div class="col-e">
                                        <label for="senha" style="color: #330867;">Senha *</label>
                                        <input type="text" class="form-control" id="senha" th:field="*{senha}"  
                                               evolucao:classforerror="senha"
                                               placeholder="Senha da pessoa" autofocus="autofocus">
                                    </div>


                                    <div class="col-d">
                                        <label for="confirmaSenha" style="color: #330867;">Confirmação de senha *</label>
                                        <input type="text" class="form-control" id="confirmaSenha" th:field="*{confirmaSenha}"
                                               evolucao:classforerror="confirmaSenha"
                                               placeholder="confirmaSenha">
                                    </div>
                                </div>


                                <div class="form-row">
                                    <button type="submit" class="button-success" style="width: 100%;">Enviar formulário</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
