<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="card-form">
                <div class="form-row">
                    <h4>RECUPERAR EMAIL</h4>
                </div>
            </div>

            <form method="POST" th:object="${usuario}" th:action="@{/usuarios/buscar_email}" autocomplete="off">
                <div class="card-form">
                   
                    <div class="form-row">
                        <evolucao:message/>
                    </div>

                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-row">
                        <label for="email">Email *</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"
                               evolucao:classforerror="email"
                               placeholder="Email da pessoa" autofocus="autofocus">
                    </div>
                </div>

                <div class="card-form">
                    <div class="form-row">
                        <button type="submit" class="button-success">Enviar formulário</button>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
