
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>
        <section layout:fragment="conteudo-dashboard">
            <div class="card-form">
                <div class="navbar">
                    <div class="col-e">
                        <div class="form-row">
                            <h4>Lista de turmas</h4>
                        </div>
                    </div>

                    <div class="col-d">
                        <div class="form-row" style="text-align: right;">
                            <a class="button-default" th:href="@{/turmas/nova}" role="button">
                                <i class="fas fa-plus-circle"></i> novo
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-form">
                <div class="alert  alert-success" role="alert" th:if="${not #strings.isEmpty(mensagem)}" th:fragment="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <span th:text="${mensagem}"></span>
                </div>
            </div>

            <div class="card-pesquisa">
                <form method="GET" th:object="${turmaFilter}">
                    <div class="form-row">
                        <label for="nome" style="color: white;">Pesquisa por nome</label>
                        <input class="form-control" autofocus="autofocus"
                               type="text" id="nome" th:field="*{descricao}" placeholder="Pesquisa por descrição" aria-label="Search"/>
                    </div>

                    <div class="form-row">
                        <div class="col-e">
                            <label for="turno" style="color: white;">Pesquisa por turno</label>
                            <select id="turno" class="form-select" th:field="*{turno}">
                                <option value="">Selecione o turno</option>
                                <option th:each="m : ${turnos}" th:value="${m}" th:text="${m.descricao}">DIURNO</option>
                            </select>
                        </div>

                        <div class="col-d">
                            <label for="curso" style="color: white;">Pesquisa por curso</label>
                            <select id="curso" class="form-select" th:field="*{curso}">
                                <option value="">Selecione o curso</option>
                                <option th:each="c : ${cursos}" th:value="${c.id}" th:text="${c.nome}">Pale lager</option>
                            </select>  
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-e">
                            <label style="color: white;">Pesquisa de</label>
                            <input class="form-control" type="date" th:field="*{desde}" />
                        </div>

                        <div class="col-d">
                            <label style="color: white;">Pesquisa até</label>
                            <input class="form-control" type="date" th:field="*{ate}" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-e">
                            <div class="form-group  col-sm-4">
                                <button class="button-success" type="submit">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="card-form">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Turno</th>
                            <th>Quantidade</th>
                            <th>Status</th>
                            <th>Nova</th>
                            <th>Registro</th>
                            <th>Início</th>
                            <th>Encerramento</th>
                            <th>Curso</th>
                            <th>Visualizar</th>
                            <th>Editar</th>
                            <th>Matrículas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c: ${pagina.conteudo}">
                            <td th:text="${c.id}"></td>
                            <td th:text="${c.nome}"></td>
                            <td th:text="${c.turno}"></td>
                            <td th:text="${c.quantidade}"></td>
                            <td th:text="${c.status}" th:style="${c.status} == ABERTA ? 'background: #FF6347' : 'background: #00cc99'">></td>
                            <td th:text="${c.novo}" th:style="${c.novo} == false ? 'background: #FF6347' : 'background: #00cc99'">></td>
                            <td th:text="${c.dataRegistro}"></td>
                            <td th:text="${c.dataInicio}"></td>
                            <td th:text="${c.dataEncerramento}"></td>
                            <td th:text="${c.curso.nome}"></td>
                            <td>
                                <a title="Editar" th:href="@{/turmas/{id}(id=${c.id})}" class="button-warner"> 
                                    <i class="fas fa-search"></i>
                                </a>
                            </td>

                            <td>
                                <a title="Editar" th:href="@{/turmas/{id}(id=${c.id})}" class="button-warner"> 
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>

                            <td>
                                <a title="Matriculas" th:href="@{/matriculas/?descricao=(turma=${c.id})}" class="button-warner"> 
                                    <i class="fas fa-users-cog"></i>
                                </a>
                            </td>
                        </tr>

                        <tr th:if="${pagina.vazia}">
                            <td colspan="7">Nenhuma dados encontrados</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <evolucao:pagination page="${pagina}"/>

        </section>
    </body>
</html>
