<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    
    <body>
        <footer th:fragment="footer">
            <div class="rodape">
                <div class="rodape-conteudo">
                    <div class="col-e">
                        <h5>Todos os Direitos Reservado - Evolução Cursos Profissionalizantes - ECP - 2021</h5> 
                    </div>
                    
                    <div class="col-d" style="text-align: right;">
                        <h5>Desenvolvido por - Fábio Resplandes</h5> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>