
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="card-form">
                <div class="card-titulo">
                    <h2>EMPRESA</h2>
                    <p>TUDO O QUE VOCÊ PRECISA PARA ENTRAR NO MERCADO PROFISSIONAL</p>
                </div>


                <div style="padding: 1%;line-height: 30px;text-align: justify;">
                    MAIS DE 25 ANOS DE HISTÓRIA MAIS DE 400 UNIDADES E MAIS DE 4 MILHÕES DE ALUNOS
                    A Microlins, nascida em 1991 na cidade de Lins, no interior de São Paulo, transformou-se na maior empresa de cursos profissionalizantes do País.

                    Presidida pelo Grupo Move | Edu, a rede é hoje referência no ramo de educação profissionalizante e conta com mais de 400 unidades localizadas em todo o território nacional.

                    Segundo a Associação Brasileira de Franchising (ABF), a Microlins está entre as 15 maiores franqueadoras do país.

                    Com mais de 25 anos de história e 18 de sistema de franquias, a Microlins já formou mais de 4 milhões de alunos e possui cerca de 10.000 colaboradores.

                    Em suas unidades, a Microlins oferece mais de 100 opções de cursos profissionalizantes nas áreas de Administração e Vendas, Informática e Tecnologia, Design & Web, Saúde, Indústria e Inglês.
                </div>
            </div>
        </section>
    </body>
</html>
