
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <script th:src="@{/layout/js/mascara-moeda.js}"></script>
    </head>

    <body>
        <section layout:fragment="conteudo">

            <div class="card-form">
                <div class="form-row">
                    <div class="col-e">
                        <ul class="lista-detalhes">
                            <li><h1>[[${curso.nome}]]</h1></li>
                        </ul> 
                    </div>

                    <div class="col-d" style="text-align: right;">

                    </div>
                </div>
            </div>


            <div class="card-form">
                <div class="form-row">
                    <div class="col-e">
                        <div style="width: 99%; height: 600px;margin: 1% auto;">
                            <img alt="evolucão" th:src="@{/images/default.jpg}" height="600" width="100%"/>
                        </div>
                    </div>

                    <div class="col-d">
                        <ul class="lista-detalhes">
                            <li><h1>Descrição</h1></li>
                            <li><p>[[${curso.descricao}]]</p></li>
                        </ul>  

                        <ul class="lista-detalhes">
                            <li><h1>Área de conhecimento</h1></li>
                            <li><p>[[${curso.categoria.nome}]]</p></li>
                        </ul> 

                        <ul class="lista-detalhes">
                            <li><h1>Modalidade</h1></li>
                            <li><p>[[${curso.modalidade.descricao}]]</p></li>
                        </ul> 

                        <ul class="lista-detalhes">
                            <li><h1>Ementa</h1></li>
                            <li><p>[[${curso.ementa.descricaoEmenta}]]</p></li>
                        </ul> 

                        <ul class="lista-detalhes">
                            <li><h1>Valores</h1></li>
                            <li><p>Valor: [[${curso.valor}]]</p></li>
                            <li><p>Desconto: [[${curso.desconto}]]</p></li>
                            <li><p>Valor total: [[${curso.valorTotal}]]</p></li>
                        </ul>  

                        <ul class="lista-detalhes">
                            <li><h1>Configurações</h1></li>
                            <li><p>Status: [[${curso.status}]]</p></li>
                            <li><p>Novo: [[${curso.novo}]]</p></li>
                            <li><p>Destaque: [[${curso.destaque}]]</p></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
