<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

    <div class="alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}" th:fragment="alert">
        <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
        <th:block th:each="detailedError : ${#fields.detailedErrors()}">
            <div><i class="fa  fa-exclamation-circle"></i> [[${detailedError.message}]]</div>
        </th:block>
    </div>

</html>