<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="card-form">
                <div class="form-row">
                    <div class="col-c">
                        <h1>PERMISSÃO NEGADA - 403</h1>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
