
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:evolucao="http://brewer.algaworks.com">

    <head>
        <title>EVOLUÇÃO CURSOS</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>
        <section layout:fragment="conteudo">

            <div class="card-form" style="background-image:linear-gradient(to right, #DDD, #e8e8e8);">
                <div class="col-e" style="border-right: 1px dashed gray;">
                    <div class="form-row">
                        <div class="contato">
                            <h1>CONTATOS</h1>
                            
                            <h2>Telefone</h2>

                            <ul class="lista-contato">
                                <li>Telefone fixo: (94)34747-8998</li>
                                <li>Telefone celular: (94)99991-8998</li>
                                <li>Email: evolucaocurso@gmail.com</li>
                            </ul>

                            <h2>Endereço</h2>

                            <ul class="lista-contato">
                                <li>Cidade: Novo Repartimento - PÁ</li>
                                <li>Bairro: Vila Tucuruí</li>
                                <li>Rua: Rua Belém, 897</li>
                            </ul>

                            <h2>Social</h2>

                            <ul class="lista-contato">
                                <li>Facebook: evoculcaocurso@facebook</li>
                                <li>Insagran: evolucao@instagran</li>
                                <li>Whatsapp: (94)99132-38838</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-d">

                    <div class="contato">

                        <form method="POST" th:object="${contato}" th:action="@{/contatos/salvar}" autocomplete="off">
                            <div class="form-row">
                                <evolucao:message/>
                            </div>

                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-row">
                                <label for="nome">Nome *</label>
                                <input type="text" class="form-control" id="nome" th:field="*{nome}" 
                                       evolucao:classforerror="nome"
                                       placeholder="Nome" autofocus="autofocus">
                            </div>

                            <div class="form-row">
                                <label for="email">Email *</label>
                                <input type="text" class="form-control" id="email" th:field="*{email}" 
                                       evolucao:classforerror="email"
                                       placeholder="Email" autofocus="autofocus">
                            </div>

                            <div class="form-row">
                                <label for="descricao">Descrição *</label>
                                <textarea id="descricao" evolucao:classforerror="descricao"
                                          placeholder="Entre com a descrição"
                                          th:field="*{descricao}"/>
                            </div>

                            <div class="form-row">
                                <button type="submit" class="button-success">Enviar formulário</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>
